body {
    text-align: center;
    background-color: darkolivegreen;
    color: black;
}

.product_mainDiv1 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive {
    width: 500px;
    height: 500px;
}

.product_mainDiv2 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive2 {
    width: 500px;
    height: 500px;
}

.product_mainDiv3 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive3 {
    width: 500px;
    height: 500px;
}

.product_mainDiv4 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive4 {
    width: 500px;
    height: 500px;
}


.product_mainDiv5 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive5 {
    width: 500px;
    height: 500px;
}


.product_mainDiv6 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive6 {
    width: 500px;
    height: 500px;
}


.product_mainDiv7 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive7 {
    width: 500px;
    height: 500px;
}


.product_mainDiv8 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive8 {
    width: 500px;
    height: 500px;
}


.product_mainDiv9 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive9 {
    width: 500px;
    height: 500px;
}


.product_mainDiv10 {
    color: black;
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.img-responsive10 {
    width: 500px;
    height: 500px;
}
